{% if site.data.settings.mailchimp.enable == true %}
<!-- begin subscribe -->
<section class="section subscribe">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="subscribe__inner">
          <div class="subscribe__head">
            {% if site.data.settings.mailchimp.mailchimp_title %}
              <h3 class="subscribe__title">{{ site.data.settings.mailchimp.mailchimp_title }}</h3>
            {% endif %}
            {% if site.data.settings.mailchimp.mailchimp_description %}
              <p class="subscribe__description">{{ site.data.settings.mailchimp.mailchimp_description }}</p>
            {% endif %}
          </div>
          <form action="https://www.getdrip.com/forms/363838926/submissions" method="post" data-drip-embedded-form="363838926" id="drip-ef-363838926">
            <div data-drip-attribute="description"></div>
            <div>
                <label for="drip-first-name">이름</label><br>
                <input type="text" id="drip-first-name" name="fields[first_name]" value="">
            </div>
            <div>
                <label for="drip-email">Email 주소</label><br>
                <input type="email" id="drip-email" name="fields[email]" value="">
            </div>
            <div style="display: none;" aria-hidden="true">
              <label for="website">Website</label><br>
              <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="">
            </div>
            <div>
              <input type="submit" value="뉴스레터 신청하기" data-drip-attribute="sign-up-button">
            </div>
          </form>

          <div class="subscribe__bg">
            {% if site.data.settings.mailchimp.mailchimp_background_image %}
              <img class="lazy" data-src="{{site.data.settings.mailchimp.mailchimp_background_image}}" alt>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end subscribe -->
{% endif %}